.container {
    width:  1198.98px;
    margin: 0 auto;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (max-width: 991.98px) {
    .container {
        max-width:  720px;
    }
}

@media (max-width: 767.98px) {
    .container {
        max-width:  540px;
    }
}

@media (max-width: 575.98px) {
    .container {
        width: 100%;
    }
}

.btn-primary {
    font-size: 19px;
    height: auto;
    background:#0033a0 ;
    &:hover {
      background: #0033a0cd !important;
    }
  }


