@import '../../assets/scss/style.scss';
@import '../../assets/scss/base.scss';


.news-events {
    background: #FBFBFB;
    
    &__head {
      text-align: center;
      margin-bottom: 30px;
      p {
        font-size: 20px;
        font-size: 600;
        margin: 0;
      }
      h3 {
        @include font-size;
        margin: 0;
      }
      span {
        font-size: 2.5rem;
        color: #0033a0;
        font-weight: 600;
      }
    }
    &__item {
      padding: 20px;
      background: #dddddd2f;
      height: max-content;
      text-align: center;
      border-radius: 5px;
      box-shadow: 0px 2px 10px 0 #ddd;
      position: relative;
      cursor: pointer;
  
      &--effect {
        overflow: hidden;
        padding-bottom: 20px;
      }
      img {
        width: 100%;
        aspect-ratio: 12/9;
        
        border-radius: 5px 5px 0 0;
        object-fit: cover;
        transition: all 0.5s;
        &:hover {
          transform: scale(1.1);
        }
      }
      
      &--title {
        font-size: 20px;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: bold;
        padding-bottom: 10px;
      }
      &--content {
        text-align: center;
        margin: 1rem 0;
      }
    }
    @media (max-width: 575.98px) {
      &__head {
        h3 {
          font-size: 1.9rem;
          span {
            color: $color-pramiry;
          }
        }
      }
      &__item {
        margin: 0 30px;
      }
    }
  }