.layout {
    &__header {
        background-color: #ddd;
        height: 100%;
        line-height: 0;
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &--logo {
            width: 100%;
            height: 100%;
            img {
                padding: 10px 0;
                width: 100px;
                object-fit: cover;
            }
        }
    }
    &__nav {
        margin: 0;
        display: flex;
        width: 100%;
        li {
            padding: 0;
            overflow: initial;
            width: initial !important;
           span {
            overflow: initial !important;
            font-size: 16px;
            font-weight: 600;
            width: 100%;
            text-align: center;
           }
        }
    }
}
// .ant-menu-title-content {
//     overflow: initial !important;
// }
